<div class="product_text-image">
    <div>
        <div class="product_textimage-content">
            <img loading="lazy" class="Desktop_only product_text-image-reviews" src="images/Trustpilot_review.png">
            <img loading="lazy" class="Mobile_only product_text-image-reviews" src="images/Trustpilot_review_1.png">
            <h2 class="product-section_title">Stop Masking Symptoms. Start Restoring Root Cause.</h2>
            <div class="product-text">
                <p>You deserve to feel like yourself again. To wake up without puffiness. To see your ankles. To look in
                    the mirror and recognize the vibrant woman staring back. To have energy for the people you love.</p>
                <p>You deserve a solution that actually works. Not temporary relief. Not symptom masking. Complete
                    lymphatic restoration.</p>
            </div>

            <img loading="lazy" class="Mobile_only product_section-text-main-img" src="images/before-min_png.png">

            <div class="product_text-image-points">

            </div>
            <div class="align_left btn_container 222">

                <a href="https://pay.trysculptique.com/lymphatic/checkout" class="product_primary-btn ">Try Lymphatic
                    Drainage Risk-Free</a>

                <p class="product_primary-btn-footer">
                    <span>
                        <img src="images/60-days_11622780_1_1.png">
                    </span>
                    <span>
                        60-Day Money-Back Guarantee
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="product_textimage-media Desktop_only">
        <img loading="lazy" src="images/before-min_png.png">
    </div>
</div>