<style>
    @keyframes logo_scroll {
        0% {
            transform: translate(0);
        }

        100% {
            transform: translate(-50%);
        }
    }
</style>

<div class="section_press_logos_outer relative m-auto">
    <div id="press_ress">
        <div class="section_holder relative max-w-[100vw] m-auto leading-none bg-[#fff7f8]">
            <div
                class="press_logos_wrapper grid m-auto grid-cols-1 justify-items-center text-center p-0 py-[20px] content-center">
                <h3 class="title_wrap text-[24px] tracking-normal text-black m-0 max-[900px]:text-[18px]">As
                    Seen In
                </h3>
                <div class="auto_scrolling_logos w-full overflow-hidden min-w-[1px]">
                    <div class="logos_wrap flex items-center w-fit animate-[logo_scroll_60s_linear_infinite]"
                        style="animation: logo_scroll 60s infinite linear;">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/Grazia-Logo_1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/WH_Logo_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/Grazia-Logo_1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/WH_Logo_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/Grazia-Logo_1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/WH_Logo_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/Grazia-Logo_1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/WH_Logo_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/layer1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                        <img src="images/Grazia-Logo_1_500x.png" alt="logo"
                            class="press_logo h-[30px] w-auto block mx-[50px] max-[900px]:max-h-[20px] max-[900px]:mx-[25px]"
                            width="auto" height="auto">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>