<div class="product_judge-outer pink">
    <div class="page-width">
        <div class="product_icons-grid">

            <div>
                <img src="../images/ship-min.png" alt="Free Shipping">
                <p class="h4title">Free Shipping from USA</p>
                <p>On all orders</p>
            </div>

            <div>
                <img src="../images/support-min.png" alt="Naturally Supports Your Body">
                <p class="h4title">Naturally Supports Your Body</p>
                <p>Promotes healthy immune cell functions</p>
            </div>

            <div>
                <img src="../images/natural-min.png" alt="100% Natural Ingredients">
                <p class="h4title">100% Natural Ingredients</p>
                <p>8 active, natural ingredients</p>
            </div>

            <div>
                <img src="../images/60-min.png" alt="60 Day Guarantee">
                <p class="h4title">Try it Risk Free for 60 Days</p>
                <p>60-day money-back guarantee</p>
            </div>

        </div>
    </div>
</div>