/* Text-Image Section Component */
.product_judge-outer.text-image-section {
    background: #f3eee0;
    padding: 56px 0;
}

.Desktop_only {
    display: block;
}

.Mobile_only {
    display: none;
}


.product_text-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.product_text-image>div {
    width: 100%;
}

.product_text-image img {
    width: 100%;
}

.product_text-image-reviews {
    max-width: 350px;
}

.product-section_title {
    font-size: 32px;
    line-height: 1.3em;
    margin: 16px 0;
    font-weight: 400;
    font-family: Lora, serif;
}

.product-text p {
    font-size: 18px;
    line-height: 1.3em;
    margin: 12px 0;
}

.btn_container {
    margin-top: 24px;
}

.product_primary-btn {
    font-family: Nunito, sans-serif;
    display: inline-block;
    padding: 18px 80px;
    text-decoration: none;
    color: #fff;
    background: #000;
    border-radius: 4px;
    font-size: 18px;
    transition: all 0.2s;
    line-height: 1.3em;
}

.product_primary-btn:hover {
    opacity: 0.7;
}

.product_primary-btn-footer {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    line-height: 1.3em;
    margin: 16px 0 0;
}

.product_primary-btn-footer img {
    width: 24px !important;
}

@media only screen and (max-width: 678px) {
    .Desktop_only {
        display: none !important;
    }

    .Mobile_only {
        display: block !important;
    }

    .product_judge-outer.text-image-section {
        padding: 32px 0;
    }

    .product-section_title {
        font-size: 24px;
    }

    .product-text p {
        font-size: 16px;
    }

    .product_text-image {
        flex-wrap: wrap;
        gap: 0;
    }

    .product_text-image-reviews {
        max-width: 250px;
        margin: auto;
        display: block;
    }

    .product_primary-btn {
        display: block;
        padding: 16px;
        font-size: 16px;
    }
}