<div class="product_judge-outer pli_outer">
    <div class="page-width">

        <div class="product_judge-container top_padding">
            <h2 class="product-section_title centered">Your <span>Hidden</span> Drainage System</h2>
        </div>

        <div class="pli_flex">
            <div>
                <div class="pli_top-text">
                    <p>Your lymphatic system is your body's internal cleaning crew—a network of vessels that processes
                        <strong>3-4 liters of cellular waste and excess fluid every single day.</strong></p>
                    <p>When it's working properly, you don't even know it exists.</p>
                    <ul>
                        <li>Waste gets drained away</li>
                        <li>Fluid stays balanced.</li>
                        <li>Your body feels light and energized.</li>
                    </ul>
                </div>
                <div class="pli_pink-text">
                    <p>But after age 35, declining estrogen hijacks this system's ability to function.</p>
                </div>
                <div class="pli_bottom-text">
                    <ul>
                        <li>Vessel pumping weakens.</li>
                        <li>One-way valves fail.</li>
                        <li>Protein clogs form. </li>
                        <li>Vessel walls become leaky.</li>
                    </ul>
                    <p>Instead of processing and removing waste, it backs up in your tissues.</p>
                </div>
            </div>
            <div>
                <img loading="lazy" class="Desktop_only" src="../images/Frame_1484580366_1.png">
                <img loading="lazy" class="Mobile_only" src="../images/Frame_1484580366_1.png">
            </div>
        </div>

    </div>
</div>