/* Reviews Header Component Styles */

/* Outer container */
.product_judge-outer.reviews-section {
    padding: 56px 0;
}


/* Container for centered content */
.product_judge-container {
    max-width: 800px;
    margin: auto;
}

.centered {
    text-align: center;
}

/* Trustpilot score image */
.product-reviews_trust {
    display: block;
    margin: auto;
    max-width: 200px;
}

/* Section title */
.product-section_title {
    font-size: 32px;
    line-height: 1.3em;
    margin: 16px 0;
    font-weight: 400;
    font-family: Lora, serif;
}


/* Section text */
.product-section_text {
    font-size: 18px;
    margin: 16px 0;
    line-height: 1.3em;
}

/* Mobile responsive styles */
@media only screen and (max-width: 678px) {
    .product_judge-outer.reviews-section {
        padding: 32px 0;
    }

    .product-section_title {
        font-size: 24px;
    }

    .product-section_text {
        font-size: 16px;
    }
}