/* Stats Section Component */
.product_judge-outer.stats-section {
    padding: 56px 0;
}

.Desktop_only {
    display: block;
}

.Mobile_only {
    display: none;
}

.product_stats-outer {
    display: flex;
    align-items: center;
}

.product_stats-outer>div:nth-child(1) {
    width: 100%;
}

.product_stats-outer>div:nth-child(2) {
    width: 70%;
}

.product_stats-outer img {
    width: 100%;
}

.product_expert-content {
    padding-bottom: 0;
    padding-top: 0;
}

.product-section_title {
    font-size: 32px;
    line-height: 1.3em;
    margin: 16px 0;
    font-weight: 400;
    font-family: Lora, serif;
}

.product-text p {
    font-size: 18px;
    line-height: 1.3em;
    margin: 12px 0;
}

@media only screen and (max-width: 678px) {
    .Desktop_only {
        display: none !important;
    }

    .Mobile_only {
        display: block !important;
    }

    .product_judge-outer.stats-section {
        padding: 32px 0;
    }

    .product-section_title {
        font-size: 24px;
    }

    .product-text p {
        font-size: 16px;
    }

    .product_stats-outer {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
    }

    .product_stats-outer>div:nth-child(2) {
        width: 100%;
    }
}