<div class="product_judge-outer stats-section">
    <div class="page-width">
        <div class="product_stats-outer">
            <div>
                <div class="product_expert-content">
                    <h2 class="product-section_title">We're On A Mission To Help 100,000,000 Women Visibly, Naturally
                        Get Rid Of Bloating…And Feel Like Themselves Again</h2>
                    <div class="product-text">
                        <p>Here's where we're at right now:</p>
                    </div>
                    <img loading="lazy" class="Mobile_only" src="../images/Frame_1000003537.jpg" alt="Mission progress">
                    <img loading="lazy" class="Desktop_only" src="../images/numbdeskt-min_png.png" alt="Stats desktop">
                    <img loading="lazy" class="Mobile_only" src="../images/numbmob-min_png.png" alt="Stats mobile">
                </div>
            </div>
            <div class="product_expert-media Desktop_only">
                <img loading="lazy" src="../images/Frame_1000003537.jpg" alt="Mission image">
            </div>
        </div>
    </div>
</div>