:root {
    --page-width: 120rem;
    --page-width-margin: 0rem;
}

body {
    letter-spacing: 0.06rem;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.image {
    width: 100%;
    height: 100%;
}